# =========================
# Python
# =========================
__pycache__/
*.py[cod]
venv/
.venv/
env/

# =========================
# Environment / secrets
# =========================
.env
.env.*

# =========================
# Raw datasets
# =========================
data/raw/

# =========================
# Processed datasets
# =========================
data/processed/

# =========================
# Large ML files
# =========================
*.npy
*.npz
*.pkl
*.mat
*.h5
*.hdf5
*.pt
*.pth
*.onnx
*.ckpt

# =========================
# Frontend
# =========================
node_modules/
dist/
build/

# =========================
# IDE
# =========================
.vscode/

# =========================
# Logs / database
# =========================
*.log
*.db

# =========================
# OS
# =========================
.DS_Store
Thumbs.db